<nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">
    <img data-toggle="collapse" data-target=".navbar-collapse.show" src="./assets/logo5.png" width="130" height="50" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    <ul data-toggle="collapse" data-target=".navbar-collapse.show" class="navbar-nav mr-auto mt-2 mt-xl-0">
      <li [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-item nav-link">
        <a routerLink="/articles">Home</a>
      </li>
      <li routerLinkActive="active" class="nav-item dropdown nav-link">
        <a class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/articles']" [queryParams]="{category: itemOfCategory.name}" *ngFor="let itemOfCategory of categories">{{ itemOfCategory.name }}</a>
          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="#">Nie zaglądaj</a> -->
        </div>
      </li>
    </ul>
    <div class="username-text" *ngIf="isLogged">
      Welcome, {{ username }}
    </div>
    <ul data-toggle="collapse" data-target=".navbar-collapse.show" class="navbar-nav my-3 my-xl-0 buttons">
      <li class="nav-item right">
        <div class="create-btn" *ngIf="!isLogged">
          <button class="btn btn-outline-light" type="button" routerLink="/create">ADD ARTICLE</button>
        </div>
      </li>
      <li class="nav-item right">
        <div class="login-btn" *ngIf="!isLogged">
          <button class="btn btn-outline-success" type="button" routerLink="/login">LOGIN</button>
        </div>
      </li>
      <li class="nav-item right">
        <div class="register-btn" *ngIf="!isLogged">
          <button class="btn btn-outline-danger" type="button" routerLink="/register">REGISTER</button>
        </div>
      </li>
      <li class="nav-item right">
        <div class="create-btn" *ngIf="isLogged">
          <button class="btn btn-outline-light" type="button" routerLink="/create">ADD ARTICLE</button>
        </div>
      </li>
      <li class="nav-item right">
        <div class="admin-btn" *ngIf="isLogged && isAdministrator">
          <button class="btn btn-outline-light" type="button" routerLink="/admin">ADMIN</button>
        </div>
      </li>
      <li class="nav-item right">
        <div class="profile-btn" *ngIf="isLogged">
          <button class="btn btn-outline-light" type="button" routerLink="/profile">PROFILE</button>
        </div>
      </li>
      <li class="nav-item right">
        <div class="logout-btn" *ngIf="isLogged">
          <button class="btn btn-outline-danger" type="button" (click)="logout()">LOGOUT</button>
        </div>
      </li>
    </ul>
  </div>
</nav>