<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">
    <img src="./assets/logo5.png" width="130" height="50" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/articles']" [queryParams]="{category: itemOfCategory.name}" *ngFor="let itemOfCategory of categories">{{ itemOfCategory.name }}</a>
          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="#">Nie zaglądaj</a> -->
        </div>
      </li>
    </ul>
    <div class="login-btn" *ngIf="!isLogged">
      <button class="btn btn-outline-light" type="button" routerLink="/create">ADD ARTICLE</button>
    </div>
    <div class="login-btn" *ngIf="!isLogged">
      <button class="btn btn-outline-success" type="button" routerLink="/login">LOGIN</button>
    </div>
    <div class="register-btn" *ngIf="!isLogged">
      <button class="btn btn-outline-danger" type="button" routerLink="/register">REGISTER</button>
    </div>
    <div class="username-text" *ngIf="isLogged">
      Welcome, {{ username }}
    </div>
    <div class="login-btn" *ngIf="isLogged">
      <button class="btn btn-outline-light" type="button" routerLink="/create">ADD ARTICLE</button>
    </div>
    <div class="login-btn" *ngIf="isLogged && isAdministrator">
      <button class="btn btn-outline-light" type="button" routerLink="/admin">ADMIN</button>
    </div>
    <div class="login-btn" *ngIf="isLogged">
      <button class="btn btn-outline-light" type="button" routerLink="/profile">PROFILE</button>
    </div>
    <div class="login-btn" *ngIf="isLogged">
      <button class="btn btn-outline-danger" type="button" (click)="logout()">LOGOUT</button>
    </div>
  </div>
</nav>