@import "variables";
@import "global";

body {
    background-image: linear-gradient(to right bottom, #3b5274, #436587, #4b789a, #558cac, #5fa1be);
    padding-top: 50px;
}

html {
    min-height: 100vh;
}