@import '~src/assets/scss/main.scss';

.col-lg-8 {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}
input.ng-valid.ng-touched {
    border: 1px solid green;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}
select.ng-valid.ng-touched {
    border: 1px solid green;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title-input {
        width: 49%;
        // height: 100%;
    }
    
    .category-input {
        width: 49%;
        .form-group {
            height: calc(100% - 16px);
            select {
                height: 100%;
            }
        }
    }
}

select {
    cursor: pointer;
}

button {
    width: 100%;
}

input {
    width: 100%;
    color: black;
    border-radius: 10px;
    border-width: 0;
    padding: 20px 30px;
}
select{
    color: black;
    border-radius: 10px;
}

select.ng-pristine { // for category placeholder
    color: grey;
}
.header-message {
    text-align: center;
    color: $textColor;
    margin-bottom: 20px;
}
.article-preview {
    margin-top: 10px;
}