<div class="container">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2 class="header-message">Create Your own Article</h2>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div 
          id="user-data"
          ngModelGroup="userData"
          #userData="ngModelGroup">
            <div class="top">
              <div class="title-input">
                <div class="form-group">
                  <input 
                    type="text" 
                    id="title" 
                    class="form-control" 
                    ngModel
                    name="title" 
                    required
                    #title="ngModel"
                    placeholder="TITLE">
                </div>
              </div>
              <div class="category-input">
                <div class="form-group">
                  <select 
                    class="form-control" 
                    id="category" 
                    name="category" 
                    [(ngModel)]="categoryPlaceholder"
                    required>
                    <option value="-1" disabled selected hidden>CATEGORY</option>
                    <option *ngFor="let category of categories; let i = index"
                      [value]="i">
                      {{ category.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="down">
              <div class="form-group">
                <input 
                  type="text" 
                  id="content" 
                  class="form-control" 
                  ngModel
                  name="content" 
                  required
                  pattern = '^[\s\S]*watch\?v=([\s\S]{11})$'
                  placeholder="CONTENT">
              </div>
            </div>
          </div>
          <button
            class="button btn btn-warning btn-lg btn-block"
            type="submit" 
            [disabled]="!f.valid || !newArticle.category">
            SUBMIT
          </button>
          <div class="article-preview">
            <app-article-item  [article]="newArticle"></app-article-item>
          </div>
        </form>
      </div>
  </div>  
</div>
