@import '~src/assets/scss/main.scss';

.article {
    margin-bottom: 20px;
    font: 20px 'Open Sans',sans-serif;
    font-weight: bold;
    //background-color: rgb(236, 230, 230);
    color: white;
    display: flex;
    flex-direction: column;


    .article-top {

        .article-title {
            background-color: $mainTheme;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 5px;

            .title {
                padding: 10px 15px 10px 15px;    
                margin-bottom: 0px;
            }
            .comments {
                padding: 10px 15px 10px 15px; 
            }
        }  

        .category {
            background-color: $mainTheme;
            text-align: left;
            padding: 10px 15px 10px 15px;
            margin-bottom: 5px;
            font-size: 14px;
            color: rgb(230, 132, 52);
        }
    }
    
/*     &:first-child{
        margin-top: 50px;
    } */

    .article-content {
        margin: auto;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        @media (max-width: 900px) {
                height: 70vw;
          }
        @media (min-width: 900px) {
            height: 560px;
        }
    }

    .article-info {
        background-color: $mainTheme;
        margin-top: 5px;
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        padding: 10px 0 10px 0;

        .article-created-info {
            padding-left: 5px;
        }
        .article-likes {
            padding-right: 5px;
        }
    }
}


iframe {
    max-width: 100%;
}
.like-button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}