<div class="article" *ngIf="article">
  <div class="article-top">
      <div class="article-title">
        <p *ngIf="article.id" class="title"><a [routerLink]="['/articles', article.id]">{{ article.title }}</a></p>
        <p *ngIf="!article.id" class="title">{{ article.title }}</p>
        <span class="comments"><i class="far fa-comment"></i> {{ article.commentsCount }}</span>
      </div>
      <p *ngIf="article.category" class="category"><a [routerLink]="['/articles']" [queryParams]="{category: article.category.name}">{{ article.category.name }}</a></p>
      <p *ngIf="!article.category" class="category">Your selected Category</p>
  </div>
  <div *ngIf="article.content" class="article-content">
      <iframe class="e2e-iframe-trusted-src" width="100%" height="100%"
      [src]="'https://www.youtube.com/embed/' + article.content | safeUrl: 'resourceUrl'"
      frameborder="0" allow="autoplay; encrypted-media" allowfullscreen controls
      ></iframe>
  </div>
  <div *ngIf="!article.content" class="article-content">
  </div>
  <div class="article-info">
    <div class="article-created-info">
        {{ article.created }},
        <i>{{ article.user.username }}</i>
    </div>
    <div class="article-likes">
        <span class="like-button" (click)="addLike()"><i class="far fa-thumbs-up"></i></span>
        {{ article.likesCount }}
    </div>
  </div>
</div>
