@import '~src/assets/scss/main.scss';

.article {
    margin-bottom: 20px;
    font: 20px 'Open Sans',sans-serif;
    font-weight: bold;
    // height: 80vh;
    color: $textColorPrimary;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    // min-width: 470px;
    // min-height: 400px;

    .article-top {

        .article-title {
            background-color: $mainTheme;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 5px;

            .title {
                padding: 10px 15px 10px 15px;    
                margin-bottom: 0px;

                .report {
                    color: rgb(163, 17, 17);
                    font: 16px 'Open Sans',sans-serif;
                    margin-left: 10px;
                    cursor: pointer;
                    &:hover {
                        color: red;
                    }
                }
            }
            .comments {
                padding: 10px 15px 10px 15px;

                i {
                    color: $textColorPrimary;
                }
            }
        }  

        .category {
            background-color: $mainTheme;
            text-align: left;
            padding: 10px 15px 10px 15px;
            margin-bottom: 5px;
            font-size: 14px;
            color: $textColorSecondary;
        }
    }
    
    .article-content {
        margin: auto;
        width: 100%;
        height: 80%;
        margin-top: 0px;
        margin-bottom: 0px;
        // @media (max-width: 900px) {
        //         height: 50vh;
        //   }
        // @media (min-width: 900px) {
        //     height: 100%;
        // }
    }

    .article-info {
        background-color: $mainTheme;
        margin-top: 5px;
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        padding: 10px 10px;

        .article-created-info {
            margin: auto 0;
        }
        .article-likes {
            margin: auto 0;
            font-size: 1.5rem;
        }
    }
}


iframe {
    max-width: 100%;
}
.like-button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}