<div class="container">
  <h2 class="title-form">Sign in</h2>
  <form class="form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <input class="form-input" type="email" placeholder="EMAIL" name="email" ngModel>
    <input class="form-input" type="password" placeholder="PASSWORD" name="password" ngModel>
    <div class="form-auth-group">
      <button type="submit" class="button btn btn-warning btn-lg btn-block">
        SIGN IN
      </button>
    </div>
  </form>
  <a class="link_signup" routerLink="/register">Don't have an account? Sign up now!</a>
</div>