@import '~src/assets/scss/main.scss';

.col-lg-8 { 
    margin: auto;
    text-align: center;
}

.add-article-btn {
    cursor: pointer;
    background-color: $textColorPrimary;
    color: black;
    text-align: center;
    padding: 5px;
    width: 80%;
    border-radius: 15px 15px 5px 5px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 0 auto 10px auto;
}

.articles {

    &-filters {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px 20px;

        &__list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            color: $textColorPrimary;
            
            &-element {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-right: 20px;
                cursor: pointer;

                &:first-of-type {
                    cursor: default;
                }

                &> p {
                    margin-right: 10px;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.page-panel {
    width: 100%;
    text-align: center;

    span {
        display: inline-block;
        min-width: 5%;

        i {
            font-size: 58px;
            padding: 0 15px;
            padding-bottom: 15px;
    
        }
        a {
            text-decoration: none;
            color: inherit;
    
            &:hover {
                color: $textColorPrimary;
            }
        }
    }
}
.double-arrows {
    position: relative;

    & > i {
        padding: 0;
        
        &:last-of-type {
            position: absolute;
            right: -18px;
        }
    }
}