<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="view-select">
        <span class="articles" (click)="viewSelectorChange('articles')"><span></span><span class="name">Articles</span><span class="number">{{ articles.length }}</span></span>
        <span class="comments" (click)="viewSelectorChange('comments')"><span></span><span class="name">Comments</span><span class="number">{{ comments.length }}</span></span>
        <span class="waiting-list" (click)="viewSelectorChange('waiting-list')"><span></span><span class="name">Waiting List</span><span class="number">{{ waitingArticles.length }}</span></span>
        <span class="rejected" (click)="viewSelectorChange('rejected')"><span></span><span class="name">Rejected</span><span class="number">{{ rejectedArticles.length }}</span></span>
      </div>
      <div class="content" [ngSwitch]="viewSelector">
        <div class="articles-content" *ngSwitchCase="'articles'">
          <div class="col-lg-10">
            <div *ngIf="articles.length > 0">
                <app-article-item *ngFor="let articleItem of articles" [article]="articleItem"></app-article-item>
            </div>
            <div *ngIf="articles.length == 0">
                <span class="noContentMessage">You have zero Articles, make some to see them here! </span>
            </div>
          </div>
        </div>
        <div class="comments-content" *ngSwitchCase="'comments'">
          <div class="col-lg-10">
            <div *ngIf="comments.length > 0">
                <app-comment *ngFor="let commentItem of comments" [comment]="commentItem"></app-comment>
            </div>
            <div *ngIf="comments.length == 0">
                <span class="noContentMessage">You have zero Comments, write some to see them here! </span>
            </div>
          </div>
        </div>
        <div class="waiting-list-content" *ngSwitchCase="'waiting-list'">
          <div class="col-lg-10">
              <div *ngIf="waitingArticles.length > 0">
                  <app-article-item *ngFor="let waitingItem of waitingArticles" [article]="waitingItem"></app-article-item>
              </div>
              <div *ngIf="waitingArticles.length == 0">
                <span class="noContentMessage">You have zero Articles in waiting list, make some to see them here! </span>
              </div>
            </div>
        </div>
        <div class="rejected-content" *ngSwitchCase="'rejected'">
          <div class="col-lg-10">
              <div *ngIf="rejectedArticles.length > 0">
                  <div class="content" *ngFor="let rejectedItem of rejectedArticles">
                      <app-article-item [article]="rejectedItem"></app-article-item>
                      <button (click)="Edit(rejectedItem)">EDIT</button>
                  </div>
              </div>
              <div *ngIf="rejectedArticles.length == 0">
                <span class="noContentMessage">You have zero rejected Articles request</span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>