<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="view-select">
        <span class="articles" (click)="viewSelectorChange('articles')"><span></span><span class="name">Articles</span><span class="number">{{ articles.length }}</span></span>
        <span class="comments" (click)="viewSelectorChange('comments')"><span></span><span class="name">Comments</span><span class="number">{{ comments.length }}</span></span>
        <span class="waiting-list" (click)="viewSelectorChange('waiting-list')"><span></span><span class="name">Waiting List</span><span class="number">{{ waitingArticles.length }}</span></span>
        <span class="rejected" (click)="viewSelectorChange('rejected')"><span></span><span class="name">Rejected</span><span class="number">{{ rejectedArticles.length }}</span></span>
      </div>
      <div class="content" [ngSwitch]="viewSelector">
        <div class="articles-content" *ngSwitchCase="'articles'">
          <div class="col-lg-8">
              <app-article-item [article]="article"></app-article-item>
          </div>
        </div>
        <div class="comments-content" *ngSwitchCase="'comments'">
          <div class="col-lg-8">
            <app-comment [comment]="comment"></app-comment>
          </div>
        </div>
        <div class="waiting-list-content" *ngSwitchCase="'waiting-list'">waiting-list-content</div>
        <div class="rejected-content" *ngSwitchCase="'rejected'">rejected-content</div>
      </div>
    </div>
  </div>
</div>