@import '~src/assets/scss/main.scss';

.container { 
    font: 20px 'Open Sans',sans-serif;
}
.col-lg-12 { 
    margin: auto;
    text-align: center;
}
.col-lg-10 {
    margin: auto;
}

.view-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > span {
        background-color: $mainTheme;
        color: $textColorPrimary;
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        cursor: pointer;
        .name:hover {
            color: $textColorSecondary;
        }
        .number {
            background-color: $textColorSecondary;
            padding: 0 5px;
        }
    }
    margin-bottom: 10px;
    .rejected {
    }
}

.content {
    padding-bottom: 10px;

    .reject {
        
        .reason-block {
            color: $textColorPrimary;
            background-color: #ff2c2c;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 5px;
            .icon {
                font-size: 36px;
                margin: 0 30px;
            }
            display: flex;
            flex-direction: row;
            .description {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;

                .top-info {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    }
    
}

.noContentMessage {
    color: $textColorPrimary;
}

.buttons {
    display: flex;
    flex-direction: row;
}