<div *ngIf="article">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <app-article-item
          [article] = article>
        </app-article-item>
        <div class="answer-form-box">
          <form (ngSubmit)="submitComment(f)" #f="ngForm">
            <div class="form-group">
              <mat-form-field>
                  <textarea
                    cdkTextareaAutosize
                    matInput
                    #input
                    maxlength="255"
                    type="text"
                    id="comment"
                    name="comment"
                    placeholder="Leave a comment"
                    ngModel
                    autocomplete="off"></textarea>
                    <mat-hint align="end">{{input.value?.length || 0}}/255</mat-hint>
              </mat-form-field>
            </div>
            <button
              class="answer-submit-button"
              type="submit"
              [disabled]="!f.value.comment"
              [ngClass]="{'animation': f.value.comment && f.value.comment.length > 0}">
            Send
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
        <div class="commentsSection" *ngFor="let comment of comments.slice().reverse()">
          <app-comment [comment]="comment" [articleId]="article.id" [parentCommentAuthor]="" [parentCommentId]="" [mainComment]="true"></app-comment>
        </div>
    </div>
</div>