@import '~src/assets/scss/main.scss';

.col-lg-12 {
    margin: auto;

    .answerButton {
        cursor: pointer;
        background-color: white;
        color: black;
        text-align: center;
        padding: 5px;
        width: 80%;
        border-radius: 5px 5px 15px 15px;
        font-weight: bold;
        letter-spacing: 3px;
        margin: 0 auto 10px auto;
    }

    .answer {
        margin-bottom: 10px;
    }

    form {
        display: flex;
        flex-direction: row;
    
        .form-group {
            width: 80%;
            margin-bottom: 0;
    
            input {
                border-radius: 0 0 0 15px;
                padding-left: 10px;
            }
        }

        .answerSubmit {
            cursor: pointer;
            background-color: white;
            color: black;
            width: 20%;
            text-align: center;
            padding: 0px;
            border: 0;
            border-left: 1px solid black;
            border-radius: 0 0 15px 0;
            &:disabled {
                background-color: grey;
                cursor: default;
            }
        }
    }
}

.col-lg-10 {
    margin: auto;
}

    .comment-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid white;
        padding: 10px 20px;

        @media (max-width: 380px) {
            flex-direction: column;
        }

        .autor-created-container {

            @media (max-width: 380px) {
                display: flex;
                flex-direction: column;
            }
            .author{
                margin-right: 20px;
            }

            .created {

            }
        }

        .likes {
        }
    }

    .content {
        // text-align: center;
        padding: 20px 20px;
    }

.comment-v2 {
    background-color: $mainTheme;;
    color: red;
    margin-bottom: 5px;
    border-radius: 15px;

    .comment-top {
        display: flex;
        flex-direction: row;
        //justify-content: space-between;
        //border-bottom: 1px solid white;

        .autor-created-container{
            display: flex;
            flex-direction: column;
            border-right: 1px solid white;
            padding: 10px 20px;
            .author{
                //margin-right: 20px;
            }

            .created {

            }
        }

        .likes {
        }
    }

    .content {
        //text-align: center;
        padding: 10px;
    }
}

.author {
    color: yellow;
}
