<p>
  ARTICLE AJDI {{ id }}
</p>
<div class="row">
  <div class="col-10">
      <app-article-item 
      [article] = article>
    </app-article-item>
    <div class="comments">
      dffsfsfsf
    </div>
    <div class="comments">
        dffsfsfsf
      </div>
      <div class="comments">
          dffsfsfsf
        </div>
        <div class="comments">
            dffsfsfsf
          </div>

          <div class="comments">
              dffsfsfsf
            </div><div class="comments">
                dffsfsfsf
              </div>
              
  </div>
</div>
