<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="view-select">
          <span class="articles-selector" (click)="viewSelectorChange('articles')"><span></span><span class="name">Articles</span><span class="number">{{articles.length}}</span></span>
          <span class="comments-selector" (click)="viewSelectorChange('reports')"><span></span><span class="name">Reports</span><span class="number">{{reportsArray.length}}</span></span>
        </div>
      <div class="change-view" [ngSwitch]='viewSelector'>
        <div class="articles-view" *ngSwitchCase="'articles'">
            <div class="content" *ngFor="let item of articles">
                <app-article-item [article]="item"></app-article-item>
                <div class="article-managment-bar">
                  <div class="info">
                      <div>Status:<span class="status-name">Waiting</span></div>
                      <div>id:<span>{{item.id}}</span></div>
                    </div>
                  <div class="change-status">
                      <form (ngSubmit)="onSubmit(f, item.id)" #f="ngForm">
                        <div class="form-group">
                            Change for:
                            <select 
                              class="form-control" 
                              id="status" 
                              name="status"
                              ngModel
                              required>
                              <option value="accepted">Accepted</option>
                              <option value="rejected">Rejected</option>
                            </select>
                        </div>
                        <div *ngIf="f.value.status == 'rejected'" class="rejected-reason">
                          <div class="form-group">
                            Reason:
                            <select 
                              class="form-control" 
                              id="reason" 
                              name="reason"
                              ngModel
                              required>
                              <option value="wrong title">Wrong Title</option>
                              <option value="wrong content">Wrong Content</option>
                              <option value="other">Other...</option>
                            </select>
                          </div>
                        </div>
                        <div *ngIf="f.value.reason == 'other'" class="otherReason">
                            <div class="form-group">
                              Write reason:
                              <input 
                                type="text" 
                                id="otherReason" 
                                class="form-control" 
                                name="otherReason"
                                ngModel
                                required
                                placeholder="reason...">
                            </div>
                          </div>
                        <button
                          class="button btn btn-warning btn-lg btn-block"
                          type="submit" 
                          [disabled]="!f.valid">
                          SUBMIT
                        </button>
                      </form>
                  </div>
                </div>
              </div>
        </div>
        <div class="reports-view" *ngSwitchCase="'reports'">
          <span *ngIf="reportsArray.length === 0" class="no-content-message">There is no new reports!</span>
          <section class="reports-panel" *ngFor="let reportedArticle of reportsArray; let i = index">
            <div class="reports-panel__article-show" (click)="viewArticleChange(i)">
              <i class="far fa-eye reports-panel__eye-icon"></i>&nbsp;Show Article
            </div>
            <div class="reports-panel__article-preview" *ngIf="reportedArticle?.showArticle" (click)="reportedArticle.showArticle = false">
              <div class="article" (click)="$event.stopPropagation()">
                <app-article-item [article]="reportedArticle?.articleObject"></app-article-item>
              </div>
            </div>
            <article class="report" *ngFor="let report of reportedArticle?.articleReports">
                <div class="report__author">
                    <i class="fas fa-user"></i>&nbsp;{{report?.reportAuthor?.username}}
                </div>
                <div class="report__reason">
                  <i class="fas fa-sticky-note"></i>&nbsp;{{report?.description}}
                </div>
            </article>
            <div class="reports-panel__buttons-panel" *ngIf="!reportedArticle.showPanel">
              <div class="reports-panel__button reports-panel__button--accept" (click)="reportedArticle.showPanel = true">
                  <i class="fas fa-check"></i>
                  <p class="reports-panel__caption">Accept</p>
              </div>
              <div class="reports-panel__button reports-panel__button--reject" (click)="reportedArticle.confirmModalShow = true">
                  <i class="fas fa-times "></i>
                  <p class="reports-panel__caption">Reject</p>
              </div>
            </div>
            <div class="reject-modal" *ngIf="reportedArticle.confirmModalShow" (click)="reportedArticle.confirmModalShow = false">
              <div class="reject-modal__content" (click)="$event.stopPropagation()">
                <p>Are you sure you want to reject all reports ({{reportedArticle.articleReports.length}})?</p>
                <div class="reject-modal__buttons-panel">
                  <button type="button" class="reject-modal__button reject-modal__button--decline" (click)="reportedArticle.confirmModalShow = false">No</button>
                  <button type="button" class="reject-modal__button reject-modal__button--accept" (click)="deleteAllreports(i)">Yes</button>
                </div>
              </div>
            </div>
            <div class="management-bar" *ngIf="reportedArticle.showPanel">
              <div class="management-bar__close-wrapper" ><i class="fas fa-times management-bar__close-icon" (click)="reportedArticle.showPanel = false"></i></div>
              <div class="management-bar__form-wrapper">
                  <form (ngSubmit)="onSubmitFromReportsPanel(f, reportedArticle.articleObject.id)" #f="ngForm" class="management-bar__form">
                    <div class="management-bar__reject-reason">
                      <div class="form-group">
                        <label for="reason">Reason</label>
                        <select 
                          class="form-control" 
                          id="reason" 
                          name="reason"
                          ngModel
                          required>
                          <option value="" disabled selected hidden>Reason</option>
                          <option value="wrong title">Wrong Title</option>
                          <option value="wrong content">Wrong Content</option>
                          <option value="other">Other...</option>
                        </select>
                      </div>
                    </div>
                    <div *ngIf="f.value.reason === 'other'" class="management-bar__other-reason">
                        <div class="form-group">
                          <label for="otherReason">Explanation</label>
                          <input
                            type="text" 
                            id="otherReason" 
                            class="form-control" 
                            name="otherReason"
                            ngModel
                            required
                            placeholder="Explanation">
                        </div>
                      </div>
                    <button
                      class="management-bar__button"
                      type="submit" 
                      [disabled]="!f.valid">
                      SUBMIT
                    </button>
                  </form>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>