@import '~src/assets/scss/main.scss';

.content {
    // background-color: white;
    
    // .status {
    //     background-color: white;
    //     color: black;
    //     border: 1px solid black;
    //     font: 20px 'Open Sans',sans-serif;
    //     padding: 10px;
    // }
    .managment-bar {
        background-color: $mainTheme;
        // color: rgb(231, 231, 75);
        color: rgb(255, 193, 7);
        font: 20px 'Open Sans',sans-serif;
        font-weight: bold;
        padding: 20px 20px 20px 20px;
        margin: 20px 0 20px 0;

        .info {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            & > div > span {
                color: white;
                margin-left: 10px;
            }
        }
        .change-status{
            
            .status-form {
            }
        }
    }
}

