@import '~src/assets/scss/main.scss';


.article-managment-bar {
    background-color: $mainTheme;
    // color: rgb(255, 193, 7);
    color: $textColorSecondary;
    font: 20px 'Open Sans',sans-serif;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    margin: 20px 0 20px 0;
    width: 100%;

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        & > div > span {
            color: $textColorPrimary;
            margin-left: 10px;
        }
    }
}
.report-managment-bar {
    background-color: $mainTheme;
    color: $textColorSecondary;
    font: 20px 'Open Sans',sans-serif;
    font-weight: bold;
    padding: 20px;
    margin: 0 auto;
    width: 80%;

    .top {
        text-align: right;
        position: relative;
        right: -10px;
        top: -15px;
        color: $textColorPrimary;
        cursor: pointer;
    }
    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > div > span {
            color: $textColorPrimary;
            margin-left: 10px;
        }
    }
}

.view-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > span {
        font-size: 20px;
        background-color: $mainTheme;
        color: $textColorPrimary;
        width: 49%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        transition: 5s all;
        cursor: pointer;
        .name {
            transition: 1.5s all;            
        }
        &:hover {
            .name {
                color: $textColorSecondary;
                transition: 1.5s all;
                letter-spacing: 5px;
            }
        }
        .number {
            background-color: $textColorSecondary;
            padding: 0 5px;
        }
    }
    margin-bottom: 10px;
}

.reports-view {
    margin: 0 auto;
    text-align: center;
    .no-content-message {
        text-align: center;
        color: $textColorPrimary;
        font-size: 24px;
    }
    .reportsArray-loop {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;

        .panel {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
            margin: 0 auto;
    
            .delete-icon, .accept-icon {
                border-radius: 60px;
                box-shadow: 0px 0px 2px #888;
                width: 30%;
                padding: 1%;
                margin: auto;
                cursor: pointer;
            }
            .delete-icon:hover {
                background-color: red;
            }
            .accept-icon:hover {
                background-color: green;
            }
        }
        .article-view {
            width: 100%;
        }
        .view-article-button {
            padding: 5px;
            color: $textColorPrimary;
            cursor: pointer;
            border: 3px solid $textColorPrimary;
            margin-left: 10%;
            margin-bottom: 3px;
            &:hover {
                i {
                    color: black;
                }
            }
            i {
                padding: 5px
            }
        }
        .article-reports-loop {
            width: 100%;

            .report-box {
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-align: left;
                width: 80%;
                color: $textColorPrimary;
                border: 3px solid $textColorPrimary;
                margin-bottom: 10px;
                
                .report-main {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 15px 25px 15px 15px;
            
                    .top {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }
            }
        }
        
    }
    
}

.reports-panel {
    color: white;
    background-color: $mainTheme;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;

    &__article-preview {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(51, 63, 75, .7);

        .article {
            margin: 8%;
        }
    }

    &__eye-icon {
        margin-right: 10px;
        transition: .5s all;
    }

    &__article-show {
        cursor: pointer;
        display: inline-block;
        &:hover {
            .reports-panel__eye-icon {
                color: $textColorSecondary;
                transform: scale(2);
                transition: .5s all;
            }
        }
    }

    &__buttons-panel {

        @media(max-width: 360px) {
            & {
                flex-direction: column;
            }
        }

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    &__button {
        font-size: 1.5rem;
        transition: .5s all;
    }

    &__button--accept {
    
        cursor: pointer;

        &:hover {
            color: green;
        }
    }

    &__button--reject {   
        cursor: pointer;

        &:hover {
            color: red;
        }
    }

    &__caption {
        font-size: 1rem;
    }

    .report {
        background-color: lighten($mainTheme, 10%);
        border: 1px solid white;
        padding: 10px;
        text-align: left;
        margin: 10px auto;
        width: 80%;
        border-radius: 10px;

        &__author, &__reason {
            word-break: break-all;
        }
    }
}

@keyframes flashing{
    0% {
        opacity: 0;
    }
}

@media(max-width: 360px) {
    .reports-panel__buttons-panel {
        flex-direction: column;
    }
}