@import '~src/assets/scss/main.scss';

.article-managment-bar {
    background-color: $mainTheme;
    // color: rgb(255, 193, 7);
    color: $textSecondary;
    font: 20px 'Open Sans',sans-serif;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    margin: 20px 0 20px 0;
    width: 100%;

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        & > div > span {
            color: $textColor;
            margin-left: 10px;
        }
    }
}
.report-managment-bar {
    background-color: $mainTheme;
    color: $textSecondary;
    font: 20px 'Open Sans',sans-serif;
    font-weight: bold;
    padding: 20px;
    margin: 0 auto;
    width: 80%;

    .top {
        text-align: right;
        position: relative;
        right: -10px;
        top: -15px;
        color: $textColor;
        cursor: pointer;
    }
    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > div > span {
            color: $textColor;
            margin-left: 10px;
        }
    }
}

.view-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > span {
        font-size: 20px;
        background-color: $mainTheme;
        color: white;
        width: 49%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        transition: 5s all;
        cursor: pointer;
        .name {
            transition: 1.5s all;            
        }
        &:hover {
            .name {
                color: $textSecondary;
                transition: 1.5s all;
                letter-spacing: 5px;
            }
        }
        .number {
            background-color: $textSecondary;
            padding: 0 5px;
        }
    }
    margin-bottom: 10px;
}

.reports-view {
    margin: 0 auto;
    text-align: center;
    .no-content-message {
        text-align: center;
        color: $textColor;
        font-size: 24px;
    }
    .reportsArray-loop {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;

        .panel {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
            margin: 0 auto;
    
            .delete-icon, .accept-icon {
                border-radius: 60px;
                box-shadow: 0px 0px 2px #888;
                width: 30%;
                padding: 1%;
                margin: auto;
                cursor: pointer;
            }
            .delete-icon:hover {
                background-color: red;
            }
            .accept-icon:hover {
                background-color: green;
            }
        }
        .article-view {
            width: 100%;
        }
        .view-article-button {
            padding: 5px;
            color: $textColor;
            cursor: pointer;
            border: 3px solid white;
            margin-left: 10%;
            margin-bottom: 3px;
            &:hover {
                i {
                    color: black;
                }
            }
            i {
                padding: 5px
            }
        }
        .article-reports-loop {
            width: 100%;

            .report-box {
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-align: left;
                width: 80%;
                color: $textColor;
                border: 3px solid white;
                margin-bottom: 10px;
                
                .report-main {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 15px 25px 15px 15px;
            
                    .top {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }
            }
        }
        
    }
    
}
