<div class="container">
  <h2 class="title-form">Create an account</h2>
  <form class="form" #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <div class="user-data" id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
      <div class="username-input">
        <div class="form-group">
          <input type="text" id="username" class="form-control" placeholder="USERNAME" name="username" required ngModel>
        </div>
      </div>
      <div class="email-input">
        <div class="form-group">
          <input type="email" id="email" class="form-control" placeholder="EMAIL" name="email" #email="ngModel" required ngModel #email="ngModel">
          <span class="help-block" *ngIf="!email.valid && (email.dirty || email.touched)">
            Please enter a valid email!
          </span>
        </div>
      </div>
      <div class="email-input">
        <div class="form-group">
          <input type="email" id="emailConfirm" class="form-control" placeholder="CONFIRM EMAIL" name="emailConfirm" required ngModel #emailConfirm="ngModel" compare="email">
          <span class="help-block" *ngIf="!emailConfirm.valid && (emailConfirm.dirty || emailConfirm.touched)">
            <div *ngIf="emailConfirm.errors['required']">
              Email confirm is required
            </div>
            <div *ngIf="!emailConfirm.errors['required'] && emailConfirm.errors['compare']">
              Email confirm do not match
            </div>
          </span>
        </div>
      </div>
      <div class="password-input">
        <div class="form-group">
          <input type="password" id="password" class="form-control" placeholder="PASSWORD" name="password" ngModel #password="ngModel" required>
          <div class="help-block" *ngIf="password.invalid && (password.dirty || password.touched)">
            Password is required
          </div>
        </div>
      </div>
      <div class="password-input">
        <div class="form-group">
          <input type="password" id="passwordConfirm" class="form-control" placeholder="CONFIRM PASSWORD" name="passwordConfirm" ngModel #pwConfirm="ngModel" required compare="password">
          <div class="help-block" *ngIf="pwConfirm.invalid && (pwConfirm.dirty || pwConfirm.touched)">
            <div *ngIf="pwConfirm.errors['required']">
              Password confirm is required
            </div>
            <div *ngIf="!pwConfirm.errors['required'] && pwConfirm.errors['compare']">
              Password confirm do not match
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-auth-group">
      <button type="submit" class="button btn btn-danger btn-lg btn-block" [disabled]="!registerForm.valid">
        SIGN UP
      </button>
    </div>
  </form>
</div>