.container {
    padding: 150px 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title-form {
        color: white;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        margin-top: 20px;

        // Margin na wszystkie elementy (dzieci) form
        & > * {
            margin: 10px 0;
        }

        // form-input
        &-input {
            width: 100%;
            color: black;
            border-radius: 10px;
            border-width: 0;
            padding: 20px 30px;
        }

        // form-group
        &-auth-group {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px !important;
        }
    }
}