@import '~src/assets/scss/main.scss';

.comment {
    background-color: $mainTheme;
    color: $textColor;
    margin-bottom: 5px;
    border-radius: 15px;

    .parentCommentAuthor {
        cursor: pointer;
    }
    .comment-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid white;
        padding: 10px 20px;

        @media (max-width: 380px) {
            flex-direction: column;
        }

        .autor-created-container{
            margin: auto 0;

            @media (max-width: 380px) {
                display: flex;
                flex-direction: column;
            }
            .author{
                margin-right: 20px;
                color: $textHighlight;
            }
        }

        .likes {
            font-size: 1.3em;
            span {
                i {
                    cursor: pointer;
                }
            }
        }
    }

    .content {
        padding: 20px 20px 0 20px;

        .parent-comment-author {
            font-weight: bold;
            cursor: pointer;
        }
        .comment-text {
            word-wrap: break-word;
        }
    }

    .bottom {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

        .answer-button {
            cursor: pointer;
            color: white;
            text-align: center;
            padding: 2px;
            width: 70px;

            &:hover {
                color: $textHighlight;
            }
        }
        .scroll-to-comment {
            margin-right: 10px;
            cursor: pointer;
        }
    }

    form {
        display: flex;
        flex-direction: row;
 
        .form-group {
            width: 80%;
            margin-bottom: 0;
            margin: 0 auto 0 auto;

    
            mat-form-field {
                width: 100%;
            }
            textarea {
                font-size: 1rem;
                overflow: hidden;
            }
        }
    
        .answer-submit-button {
            cursor: pointer;
            background-color: white;
            color: black;
            width: 15%;
            height: 3rem;
            text-align: center;
            border: 0;
            border-radius: 5px;
            margin: 0 auto 20px auto;
            visibility: hidden;
            text-transform: uppercase;        
            &:disabled {
                background-color: grey;
                cursor: default;
            }
            &:hover:enabled {
                box-shadow: 0px 0px 15px 2px rgba(255,255,255,1);
            }
        }
    }
}

.subcomments {
    &--top {
        margin-left: 50px;
    }
}
@keyframes visible {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
.animation {
    visibility: visible !important;
    animation: visible 2s;
}
.logged-author {
    color: rgb(153, 158, 78) !important;
}
.distinguish {
    animation: flash linear 1s 1;
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}