@import '~src/assets/scss/main.scss';

.comment {
    background-color: $mainTheme;
    color: white;
    margin-bottom: 5px;
    border-radius: 15px;


    .comment-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid white;
        padding: 10px 20px;

        @media (max-width: 380px) {
            flex-direction: column;
        }

        .autor-created-container{

            @media (max-width: 380px) {
                display: flex;
                flex-direction: column;
            }
            .author{
                margin-right: 20px;
                color: yellow;
            }

            .created {

            }
        }

        .likes {
        }
    }

    .content {
        // text-align: center;
        padding: 20px 20px;
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
    }
    
    .answerButton {
        cursor: pointer;
        background-color: white;
        color: black;
        text-align: center;
        padding: 2px;
        width: 70px;
        border-radius: 5px 5px 5px 15px;
    }

    form {
        display: flex;
        flex-direction: row;
    
        .form-group {
            width: 80%;
            margin-bottom: 0;
    
            input {
                border-radius: 0 0 0 15px;
                padding-left: 10px;
            }
        }
    
        .answerSubmit {
            cursor: pointer;
            background-color: white;
            color: black;
            width: 20%;
            text-align: center;
            padding: 0px;
            border: 0;
            border-left: 1px solid black;
            border-radius: 0 0 15px 0;
            &:disabled {
                background-color: grey;
                cursor: default;
            }
        }
    }
}

.subcomments {
    margin-left: 20px;
}
.subcomments {
    border-left: 1px solid white;
    padding-left: 35px;
}





