<div class="comment" id="comment-{{comment.id}}">
  <div class="comment-top">
    <div class="autor-created-container">
        <span class="author" [ngClass]="{'logged-author': this.commentAuthor === comment.user.username}">{{comment.user.username}}</span>
        <span class="created">{{comment.created}}</span>
    </div>
    <div class="likes">
        <span *ngIf="!comment.liked" class="like-button" (click)="changeLike(true)"><i class="far fa-thumbs-up"></i></span>
        <span *ngIf="comment.liked" class="like-button" (click)="changeLike(false)"><i class="fas fa-thumbs-up"></i></span>&nbsp;{{comment.likesCount}}
    </div>
  </div>
<div class="content">
  <span *ngIf="parentCommentAuthor" class="parent-comment-author" (click)="scroll()">@{{parentCommentAuthor}}&nbsp;</span>
  <span class="comment-text">{{comment.content}}</span>
</div>
<div class="bottom">
    <div *ngIf="!answerClicked" class="answer-button" (click)="answerVisibility()">Answer</div>
    <!-- <div class="scroll-to-comment" [routerLink]="['/articles', articleId]" [queryParams]="{ScrollTo: 'comment-' + comment.id}">Go to origin</div> -->
</div>
<div class="answer" *ngIf="answerClicked">
  <form (ngSubmit)="submitComment(f)" #f="ngForm">
    <div class="form-group">
      <mat-form-field>
          <textarea
            rows="2"
            matInput
            #input
            maxlength="255"
            type="text"
            id="comment"
            name="comment"
            placeholder="Leave a comment"
            ngModel
            autocomplete="off"></textarea>
            <mat-hint align="end">{{input.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
    </div>
    <button
      class="answer-submit-button"
      type="submit"
      [disabled]="!f.value.comment"
      [ngClass]="{'animation': f.value.comment && f.value.comment.length > 0}">
    Send
    </button>
  </form>
</div>
</div>
<div class="subcomments" *ngFor="let subcomment of comment.comments.slice().reverse()" [ngClass]="{'subcomments--top': mainComment}">
  <app-comment [comment]="subcomment" [articleId]="articleId" [parentCommentAuthor]="comment.user.username" [parentCommentId]="comment.id"  [mainComment]="false"></app-comment>
</div>